<!DOCTYPE html>

<html>
<head>
    @{ 
        var banner = new List<string> {"bannerRaces.jpg", "bannerRiders.jpg", "bannerTeams.jpg", "bannerTickets.jpg"};
    }
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        @RenderBody()
    </div>
</body>
</html>
